<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<Icon Id="icon.exe" SourceFile="..\..\..\..\resources\icon_preporation\icon_64.ico"/>

		<ComponentGroup Id="Main" Directory="INSTALLFOLDER">
			<File Id="fileMainExe" Name="GasFlowControlMonitoringApp.exe" Source="..\..\..\..\cmake-build-release\Release\GasFlowControlMonitoringApp.exe" KeyPath="true">
				<Shortcut Name="Gas Flow Control Monitoring Application" Directory="DesktopFolder"
						 Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="icon.exe"/>

				<Shortcut Name="GasFlowControlMonitoringApp" Directory="ProgramMenuFolder"
						  Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="icon.exe" />
			</File>

			<File Id="fileMainDll" Name="SDL2.dll" Source="..\..\..\..\resources\dinamic_libs\SDL2.dll"/>
		</ComponentGroup>
	</Fragment>
</Wix>
