<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<Icon Id="icon.exe" SourceFile="..\..\..\..\resources\icon_preporation\icon_64.ico"/>

		<ComponentGroup Id="Main" Directory="INSTALLFOLDER">
			<File Id="fileMainExe" Name="GasFlowControlMonitoringApp.exe" Source="..\..\..\..\cmake-build-release\\Release\GasFlowControlMonitoringApp.exe" KeyPath="true">
				<Shortcut Name="GasFlowControlMonitoringApp" Directory="DesktopFolder"
						 Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="icon.exe"/>

				<Shortcut Name="GasFlowControlMonitoringApp" Directory="ProgramMenuFolder"
						  Advertise="yes" WorkingDirectory="INSTALLFOLDER" Icon="icon.exe" />
			</File>


            <File Id="VC_Redist_x64" Name="VC_Redist.x64.exe" Source="..\..\..\..\resources\dinamic_libs\VC_Redist.x64.exe"/>
            <File Id="VC_Redist_x86" Name="VC_Redist.x86.exe" Source="..\..\..\..\resources\dinamic_libs\VC_Redist.x86.exe"/>

			<File Id="fileMainDll" Name="SDL2.dll" Source="..\..\..\..\resources\dinamic_libs\SDL2.dll"/>
			<File Id="fileMainIni" Name="imgui.ini" Source="..\..\..\..\resources\imgui_configuration\imgui.ini"/>
		</ComponentGroup>
	</Fragment>
</Wix>
